<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="..\static\css\hexagonsCustom.css">
     
    </head>
    <body>
        <ul id="hexGrid">
            
            <li class="hex">
            
                 <a class="hexIn" href="#" style="background-color:#d59a28">

                    <h1 >EC</h1>
                    <p >1,3 mS</p>
                    <img src="..\static\img\icons\EC.png" alt="" />

                </a>

            </li>
            <li class="hex">
                <a class="hexIn" href="#" style="background-color:#525050">
                    <h1 >PH</h1>
                    <p >5,5</p>
                    <img src="..\static\img\icons\ph.png" alt="" />
                </a>
            </li>
            <li class="hex">
                 <a class="hexIn" href="#" style="background-color:#586dd6">
                    <h1 >Water</h1>
                    <p >20°C</p>
                    <img src="..\static\img\icons\water.png" alt="" />
                </a>
            </li>
			 <li class="hex">
                 <a class="hexIn" href="#" style="background-color:#689554">
                    <h1 >Light</h1>
                    <p >ON</p>
                    <img src="..\static\img\icons\light.png" alt="" />
                </a>
            </li>
            <li class="hex">
                 <a class="hexIn" href="#" style="background-color:#000000">
                    <h1 >Settings</h1>
                    
                    <img src="..\static\img\icons\settings.png" alt="" />
                </a>
            </li>
            <li class="hex">
                 <a class="hexIn" href="#" style="background-color:#92b3df">
                    <h1 >Humidity</h1>
                    <p >30%</p>
                    <img src="..\static\img\icons\humidity.png" alt="" />
                </a>
            </li>
            <li class="hex">
                 <a class="hexIn" href="#" style="background-color:#d05d9e">
                    <h1 >Plugs module</h1>
                    
                    <img src="..\static\img\icons\plugs.png" alt="" />
                </a>
            </li>
			<li class="hex">
                 <a class="hexIn" href="#" style="background-color:#ec7e26">
                    <h1 >Air</h1>
                    <p >25°C</p>
                    <img src="..\static\img\icons\Wind.png" alt="" />
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#" style="background-color:#9c9c9c">
                    <h1 >Pumps module</h1>
                    
                    <img src="..\static\img\icons\pumps.png" alt="" />
                </a>

            </li>
        </ul>
    </body>
</html>