<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="..\static\css\hexagonsV2.css">
     	
    </head>
    <body>
	<ul id="hexGrid">
            
        <li class="hex">
			<div class="hexagon" style="background-color:#d59a28">
				<span onclick="location.href='#';" style="cursor: pointer;">	
				<h1 >EC1</h1>
                <p id="ECText">1,3 mS</p>
                <img src="..\static\img\icons\EC.png" alt="" />
                </span>
			</div>
		</li>
		<li class="hex">
			<div class="hexagon" style="background-color:#525050" >
				<span onclick="location.href='#';" style="cursor: pointer;">
				
				<h1 >PH</h1>
                    <p >5,5</p>
                    <img src="..\static\img\icons\ph.png" alt="" />
                </span>
			</div>
		</li>
		<li class="hex">
			<div class="hexagon" style="background-color:#586dd6" >
				<span onclick="location.href='#';" style="cursor: pointer;">
				
				<h1 >Water</h1>
                    <p >20°C</p>
                    <img src="..\static\img\icons\water.png" alt="" />
                </span>
			</div>
		</li>
		<li class="hex">
			<div class="hexagon" style="background-color:#689554" >
				<span onclick="location.href='#';" style="cursor: pointer;">
				
				<h1 >Light</h1>
                    <p >ON</p>
                    <img src="..\static\img\icons\light.png" alt="" />
                </span>
			</div>
		</li>
		     <li class="hex">
			<div class="hexagon" style="background-color:#000000">
				<span onclick="location.href='#';" style="cursor: pointer;">	
				<h1 >Settings</h1> 

                <img src="..\static\img\icons\settings.png" alt="" />
                </span>
			</div>
		</li>
		<li class="hex">
			<div class="hexagon" style="background-color:#92b3df">
				<span onclick="location.href='#';" style="cursor: pointer;">
				<h1 >Humidity</h1>
                <p >30%</p>
                
                <img src="..\static\img\icons\humidity.png" alt="" />
                </span>
			</div>
		</li>
		<li class="hex">
			<div class="hexagon" style="background-color:#d05d9e" >
				<span onclick="location.href='#';" style="cursor: pointer;">
				
				<h1 >Plugs module</h1>
                    
                <img src="..\static\img\icons\plugs.png" alt="" />
                </span>
			</div>
		</li>
		<li class="hex">
			<div class="hexagon" style="background-color:#ec7e26">
				<span onclick="location.href='#';" style="cursor: pointer;">
				
				<h1 >Air</h1>
                <p >25°C</p>
                <img src="..\static\img\icons\Wind.png" alt="" />
                </span>
			</div>
		</li>
		<li class="hex">
			<div class="hexagon" style="background-color:#9c9c9c">
				<span onclick="location.href='#';" style="cursor: pointer;">
				
				<h1 >Pumps modules</h1>
                    
                <img src="..\static\img\icons\pumps.png" alt="" />
                </span>
			</div>
		</li>

	</ul>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="..\static\js\index\socket.js" type="text/javascript"></script>
</body>